.container {
    width: 68%;
    border: 7px solid;
    padding-bottom: 75px;
    margin-top: 25px;
}

.header {
    padding-bottom: 10px;
    border-bottom: 7px solid;
}

.happy-face {
    margin-top: 10px;
    margin-left: 10px;
}

.ngMadLibs-title {
    margin-top: 25px;
    padding-left: 10rem;
    text-align: center;
}

.automate-title {
    width: 100%;
}

body {
    font-family: 'Architects Daughter', cursive;
    font-size: 250%;
}

.border {
    border: thick solid black;
}
